<div id="start-menu">
  <ul>
    <li id="menu-handle">
      <a href="javascript:void()"> gr3edydev@kali:~#</a>
    </li>
    <li>
      <img class="social-logo" src="assets/images/github.png" alt="github" width="30px" height="30px" />
      <a target="_blank" href="https://github.com/gr3edydevel0per">Github</a>
    </li>

    <li>
      <img class="social-logo" src="assets/images/Linkedin.webp" alt="linkedin" width="50px" height="30px" />
      <a target="_blank" href="https://linkedin.com/in/realkanavarora">LinkedIN</a>
    </li>

    <li>
      <img class="social-logo" src="assets/images/thm.png" alt="" style="scale: 0.8" />
      <a target="_blank" href="https://tryhackme.com/p/gr3edydevel0per">TryHackMe</a>
    </li>
    <li>
      <img class="social-logo"
        src="https://cdn.iconscout.com/icon/free/png-256/free-browser-4761990-3955503.png?f=webp&w=256" />
      <a target="_blank" href="http://gr3edydevel0per.github.io">
        About Me</a>
    </li>
  </ul>
</div>