<div class="window-header">
    <ul class="header-icons">
      <li onclick="toggleDivVisibility(this.parentElement.parentElement.parentElement.parentElement)" style="  background-color: #373737;"><i class="fa-solid fa-window-minimize" style="color: #373737;"></i></li>
      <li onclick="maximizeScreen(this)" style="  background-color: #373737;"><i class="fa-regular fa-square" style="color: #373737;"></i></li>
      <li onclick="toggleDivVisibility(this.parentElement.parentElement.parentElement.parentElement)">
        <i
          class="fa-solid fa-xmark"
          style="bottom: 1px; font-size: 14px"
        ></i>
      </li>
    </ul>
  </div>